<!DOCTYPE html>
<html>

    <head>
        <title>Server Closure</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                text-align: center;
                padding: 100px;
            }

            .message {
                font-size: 24px;
                margin-bottom: 20px;
            }

            .link {
                font-size: 18px;
                color: #007bff;
                text-decoration: none;
            }
        </style>
    </head>

    <body>
        <div class="message"> This server is getting closed. Please click the link below to go to another server. </div>
        <a class="link" href="http://13.234.77.129/">Go to another server</a>
    </body>

</html>